<h1>Edit article</h1>

<% if @article.errors.any? %>
  <h2>The following errors prevented the article from being saved</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @article, local: true) do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>

<div>
  <%= link_to 'Show', article_path(@article) %>
  <%= link_to 'Detete', @article, method: :delete, data: { confirm: "Are you sure?" } %>
  <%= link_to 'Return to articles listing', articles_path %>
</div>