<h1 class="heading text-center mt-3 display-4">Articles</h1>

<% if logged_in? %>
  <div class="row justify-content-center">
    <%= link_to 'Create new article', new_article_path, class: "btn-custom my-3 justify-content-md-center" %>
  </div>
<% end %>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles', articles: @articles %>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<% if logged_in? %>
  <div class="row justify-content-center">
    <%= link_to 'Create new article', new_article_path, class: "btn-custom my-3 justify-content-md-center" %>
  </div>
<% end %>