<h1 class="heading text-center mt-3 display-4"><%= @article.title %></h1>
<div class="row justify-content-md-center">
  <div class="container my-4 col-7">
    <div class="card text-center shadow bg-dark text-light">
      <div class="card-header font-italic">
        By author
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= link_to @article.title, article_path(@article), class: "article-title" %></h5>
        <p class="card-text text-left"><%= @article.description %></p>
      </div>
      <div class="card-footer text-muted">
        Created <%= time_ago_in_words(@article.created_at) %> ago, edited <%= time_ago_in_words(@article.updated_at) %> ago
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <%= link_to 'Return to articles listing', articles_path, class: "btn-custom mb-4" %>
</div>
