<h1 class="heading text-center mt-3 display-4"><%= @user.username %></h1>
<%= gravatar_for(@user, 200) %>
<div class="row justify-content-center">
  <%= link_to "Edit Profile", edit_user_path(@user), class: "btn-lg btn-outline-primary mt-4 mb-3" %>
</div>

<h2 class="text-center mt-3 display-4">Articles</h2>

<div class="row justify-content-center">
  <%= link_to 'Create new article', new_article_path, class: "btn-custom my-3 justify-content-md-center" %>
</div>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles/articles', articles: @articles %>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<div class="row justify-content-center">
  <%= link_to 'Create new article', new_article_path, class: "btn-custom my-3 justify-content-md-center" %>
</div>