<h1 class="heading text-center mt-3 display-4"><%= @user.username %></h1>
<%= gravatar_for(@user, 200) %>

<% if logged_in? && @user == current_user %>
  <div class="row justify-content-center">
    <%= link_to "Edit Profile", edit_user_path(@user), class: "btn-lg btn-outline-primary mt-4 mb-3" %>
  </div>
  <div class="row justify-content-center">
    <%= link_to "Delete Account", user_path(@user), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure? (All your articles will also be deleted)"} %>
  </div>
<% end %>

<h2 class="text-center mt-3 display-4">Articles</h2>

<% if logged_in? %>
  <div class="row justify-content-center">
    <%= link_to 'Create new article', new_article_path, class: "btn-custom my-3 justify-content-md-center" %>
  </div>
<% end %>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles/articles', articles: @articles %>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<% if logged_in? && @user.articles.count > 0 %>
  <div class="row justify-content-center">
    <%= link_to 'Create new article', new_article_path, class: "btn-custom my-3 justify-content-md-center" %>
  </div>
<% end %>