<h1 class="heading text-center mt-3 display-4">Categories</h1>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<% @categories.each do |category| %>
  <div class="row justify-content-md-center">
    <div class="container my-4 col-4">
      <div class="card text-center shadow bg-dark text-light">
        <div class="card-header font-italic">
          <h5 class="card-title"><%= link_to category.name, category_path(category) %></h5>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to image_tag(category.image, alt: "#{category.name}", class: "rounded mx-auto mb-4 d-block shadow w-25"), category_path(category) %></h5>
          <%= link_to "View", category_path(category), class: "btn btn-primary mx-1" %>
          <% if logged_in? && current_user.admin? %>
            <%= link_to "Edit", edit_category_path(category), class: "btn btn-success mx-1" %>
            <%= link_to "Delete", category_path(category), class: "btn btn-danger mx-1", method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>